@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document regexp("https?://(pay|www)\.reddit\.com(?:/(new|explore|r/cockkisses/?.*|user/.+|r/all(/new/?)?))?/?"), regexp("https?://(pay|www)\.reddit\.com/me/m/.*") {

    body {
        color: #222222;
        background: #eeeeec url('http://i.imgur.com/TntBVd1.png') top left repeat;
    }

    a,
    .thing .title {
        color: #204a87;
    }

    a:visited,
    .thing .title:visited {
        color: #5c3566;
    }

    a:active, a:focus {
        outline: none;
    }

    textarea, input[type=text], input[type=password] {
        padding: 3px;
        background: #ffffff;
        border: solid 1px #888a85;
        box-shadow: 0 1px 1px #ffffff;
        border-radius: 3px;
    }

    #search input[type=text] {
        border-color: #b7b7b7 !important;
    }

    #header {
        /*background: #222222;*/
        background: #170E00;
        color: #eeeeec;
        font-family: 'Open Sans', sans-serif;
        border-bottom: none;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }

    #sr-header-area {
        background: none;
        font-size: 1em;
        border-bottom: none;
    }

    #sr-header-area a, .dropdown.srdrop .selected {
        color: #888a85;
    }

    #sr-more-link {
        display: none;
    }

    #sr-header-area a:hover {
        text-shadow: 0 0 2px rgba(255, 255, 255, 0.4);
        color: #eeeeec;
        text-decoration: none;
    }

    #header-bottom-left {
        padding: 0 !important;
        margin: 0 !important;
    }

    #header-bottom-right {
        background: none;
        bottom: 4px;
        right: 10px;
    }

    #header-bottom-right .separator {
        color: transparent;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        width: 1px;
        padding: 1px 0;
        margin: 0 0.8em;
        background: rgba(0, 0, 0, 0.14);
        border-right: solid 1px rgba(255, 255, 255, 0.16);
    }

    .pagename a,
    .tabmenu li a,
    .user .userkarma,
    #header-bottom-right a {
        color: #eeeeec;
    }

    .user a {
        display: inline-block;
        vertical-align: middle;
        height: 1.3em;
        overflow: hidden;
    }

    .user a::before {
        color: #eeeeec;
        content: '[redacted]';
        display: block;
    }

    #header-img.default-header {
        display: none;
    }

    .front-page #header-img.default-header {
        margin: 15px 0 0 10px;
        padding: 0;
        display: block;
        background: none;
        width: auto;
        text-indent: 0;
        height: 1.3em;
        overflow: hidden;
    }

    .front-page #header-img.default-header::before {
        display: block;
        color: #eeeeec;
        font-size: 1.2em;
        content: 'reddit.com';

    }


    .tabmenu {
        /*background: -moz-linear-gradient(top,#555555, #444444);*/
        background: -moz-linear-gradient(top,#754B07, #664106);

        /*background: #6c71c4;*/
        display: block;
        margin: 0 !important;
        padding-left: 6px;
        overflow: hidden;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    }

    .pagename {
        overflow: hidden;
    }

    .pagename a,
    .tabmenu li a {
        font-variant: normal;
        font-weight: normal;
    }

    .body.with-listing-chooser #header .pagename,
    .pagename {
        display: block;
        position: static !important;
        bottom: auto !important;
        padding: 0 !important;
        margin: 0 0 10px 10px  !important;
    }

    .pagename a::before {
        content: '/m/'
    }


    .tabmenu li {
        display: block;
        float: left;
        margin: 0;
        padding: 0;
    }

    .tabmenu li a {
        background: none;
        display: block;
        padding: 0.4em 0.6em 0.5em 0.6em;
    }

    .tabmenu li a:hover {
        background: rgba(0,0, 0, 0.15);
    }

    .tabmenu li.selected a {
        background: rgba(0, 0, 0, 0.3);
        color: #eeeeec;
        border: none;
        box-shadow: inset 0px -2px 3px rgba(0, 0, 0, 0.3);
    }

    body.with-listing-chooser .listing-chooser {
        top: 97px;
        background: none;
    }

    body.with-listing-chooser .listing-chooser .contents {
        /*background: rgba(0, 0, 0, 0.15);
        background: #C4B98D;
        background: #B2AE9A;*/
        background: rgba(178, 174, 151, 0.5);
    }

    .listing-chooser li {
        margin-bottom: 4px;
        border: none;
        background: -moz-linear-gradient(top, #f0f0f0, #e0e0e0);
        box-shadow:
            inset 0 1px 0 rgba(255, 255, 255, 0.6),
            inset 0 -1px 0 rgba(0, 0, 0, 0.3),
            0 1px 2px rgba(0, 0, 0, 0.13);
    }

    .listing-chooser li.selected {
        /*background: -moz-linear-gradient(top, #f0f0f0, #e0e0e0);*/
        background: -moz-linear-gradient(top, #BFA06F, #A68B60);

        /*border: solid 1px #aaaaaa;*/
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
        box-shadow:
            inset 0px 1px 3px rgba(0, 0, 0, 0.3),
            0px 1px 0 rgba(255, 255, 255, 0.5);
    }

    .listing-chooser li a {
        color: #444444;
    }

    .listing-chooser li.selected::before {
        border-left-color: #eeeeec;
    }

    .listing-chooser .intro {
        background: #ECE7C9;
        border-top-color: #F7F5E7;
        border-bottom-color: #A6A080;
    }

    .linkinfo, .infobar {
        background: #FFF0C6;

        border-color: #babdb6;
        box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 rgba(0, 0, 0, 0.13);
        /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);*/
    }


    body.with-listing-chooser .listing-chooser .grippy {
        background: none;
        opacity: 1;
        box-shadow: inset 1px 0 0 #fafafa, -1px 0 3px rgba(0, 0, 0, 0.18);
    }

    body.with-listing-chooser .listing-chooser .grippy:hover::after {
        background: none;
    }

    body.with-listing-chooser .listing-chooser .grippy::after {
        border-right: solid 1px rgba(0, 0, 0, 0.12);
        box-shadow: 1px 0 0 rgba(255, 255, 255, 0.6);
    }

    .side {
        background: none;
        margin-left: 1em;
    }

    .content {
        margin-top: 1em;
    }

    .linklisting {
        overflow: hidden;
    }

    .linklisting .link {
        padding: 1em 0;
        margin: 0;
    }

    .linklisting .link:not(:last-child) {
        border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    }

    .linklisting .link:not(:first-child) {
        border-top: solid 1px rgba(255, 255, 255, 0.8);
    }

    .link .rank {
        display: none;
    }

    .organic-listing {
        border: none;
    }

    .link.promoted {
        background: #E9E0D2 !important;
        border: solid 2px  #C4BDB1;
        border-radius: 4px;
    }

    .link.last-clicked {
        border: none;
    }



    .thumbnail {
        width: 74px;
        padding: 4px;
        position: relative;
    }

    .thumbnail.default,
    .thumbnail.nsfw,
    .thumbnail.self {
        background: none;
        border: dashed 1px rgba(0, 0, 0, 0.3);
        width: 70px;
    }

    .menuarea {
        border-bottom: solid 3px #babdb6;
    }

    .nsfw-stamp {
        border: none !important;
    }

    .nsfw-stamp acronym {
        background: #b58900;
        color: #eeeeec;
        border: none !important;
        padding: 0 4px;
        border-radius: 2px;
    }

    .thumbnail img {
        display: block;
        padding: 2px;
        background: #ffffff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.14);
    }


    .link .usertext .md {
        border-radius: 0;
        border: none;
        border-left: solid 3px #888a85;
        background: #f7f7f7;
        color: #101010;
    }

    .morelink, .nub {
        border: none;
        background: none !important;
    }

    .morelink a {
        border: solid 1px rgba(0, 0, 0, 0.15);
        color: #444444;
        border-radius: 5px;
        background: -moz-linear-gradient(top, #EBE7DF, #DEDAD2);
        box-shadow:
            inset 0 1px 0 rgba(255, 255, 255, 0.6),
            0 1px 2px rgba(0, 0, 0, 0.12);
    }

    .morelink a:hover {
        color: #444444;
        background: -moz-linear-gradient(top, #F9F5EC, #F0ECE3);
    }

    .expando-button {
        background: -moz-linear-gradient(top, #f0f0f0, #e0e0e0) !important;
        border: solid 1px rgba(0, 0, 0, 0.3);
        border-radius: 3px;
        position: relative;
        cursor: pointer;
        width: auto;
        height: auto;
        color: #2e3436;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6), 0 1px 0 rgba(0, 0, 0, 0.2);
    }

    .expando-button.expanded {
        background: -moz-linear-gradient(top, #f0f0f0, #d0d0d0) !important;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 0 #ffffff;
    }

    .expando-button::before {
        display: inline-block;
        font-size: 1.4em;
        font-style: italic;
        font-weight: 600;
        padding: 1px 5px 2px 5px;
    }

    .expando-button.selftext::before {
        content: 'Aa';
    }

    .expando-button.video::before {
        content: '\25b6';
    }

    .expando-button.image::before {
        content: '\25d0';
    }

    /*
    .expando-button::after {
        position: absolute;
        right: 2px;
        bottom: 0;
    }

    .expando-button.collapsed::after {
        content: '+';
    }

    .expando-button.expanded::after {
        content: '-';
    }
    */

    .arrow.up, .arrow.down, .arrow.upmod, .arrow.downmod {
        display: block;
        background: none;
        height: auto;
        font-size: 1.4em;
    }

    .arrow.up, .arrow.down {
        color: #babdb6;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8), 0 -1px 0 rgba(0, 0, 0, 0.4);
    }

    .arrow.upmod, .arrow.downmod {

    }

    .arrow.upmod {
        color: #ff8b60;
    }

    .arrow.downmod {
        color: #9494ff;
    }

    .arrow.up::before, .arrow.upmod::before {
        content: '\25b2';
    }

    .arrow.down::before, .arrow.downmod::before {
        content: '\25bc';
    }

    .users-online::before {
        background: -moz-linear-gradient(top, #8ae234, #80CF34);
        border: solid 1px #6EB22D;
        border-radius: 100%;
        width: 12px;
        height: 12px;
        margin-top: 2px;
    }
}
