$blue: #204a87;
$purple: #5c3566;

$brown1: #754b07;
$brown2: #664106;
$brown3: #bfa06f;
$brown4: #a68b60;

$dark-brown: #170e00;

$bright-yellow: #efd9b6;

$darkest-gray: #222222;
$darker-gray: #2e3436;
$dark-gray: #555753;
$gray: #888a85;
$bright-gray: #e0e0e0;
$brighter-gray: #eeeeec;
$brightest-gray: #f0f0f0;

$white1: #ffffff;
