
.footer {
   border: none;
   /*display: block;*/
   color: $footer-fg;
   padding: 0px;
   margin: 20px;
   overflow: hidden;

   .col {
      border: none !important;
      margin: 0px 20px 0px 0px;
      padding: 0px;
   }

   .flat-vert {
      a, &.title {
         color: inherit;
      }

      &.title {
         font-weight: bold;
      }
   }
}

