.brun-button {
   color: $button-fg;
   padding: 0px 8px;
   width: auto;
   border-top: solid 1px lighten($button-bg, 6%);
   border-left: solid 1px darken($button-bg, 10%);
   border-right: solid 1px darken($button-bg, 10%);
   border-bottom: solid 1px darken($button-bg, 20%);
   @include linear-gradient(top, $button-bg, darken($button-bg, 8%));
   @include rounded(4px);
   @include shadow(0px 1px 2px lighten($light-shadow-color, 3%));

   &:visited {
      color: $button-fg;
   }

   &.focused,
   &:hover,
   &:focus {
      color: $button-fg;
      @include linear-gradient(top, lighten($button-bg, 4%), darken($button-bg, 4%));
   }

   &.focused,
   &:focus {
      outline: none;
   }

   &.pressed,
   &:active {
      border-top-color: darken($button-border-color, 9%);
      @include linear-gradient(top, $button-bg, darken($button-bg, 8%));
      @include shadow(0px 1px 2px $bevel-color);
   }
}

.brun-small-button {
   color: $small-button-fg;
   border: solid 1px $small-button-border-color;
   @include linear-gradient(top, $small-button-bg, darken($small-button-bg, 8%));
   @include rounded(3px);
   @include shadow(0px 1px 2px lighten($light-shadow-color, 4%));

   &:visited {
      color: $small-button-fg;
   }

   &.focused,
   &:hover,
   &:focus {
      @include linear-gradient(top, lighten($small-button-bg, 4%), darken($small-button-bg, 4%));
   }

   &.pressed,
   &:active {
      background: none;
      @include linear-gradient(top, darken($small-button-bg, 2%), darken($small-button-bg, 10%));
      @include shadow(0px 1px 0px $bevel-color);
   }

   &:focus,
   &:active {
      outline: none;
   }
}

#search input[type=text],
.roundfield-content > input#url,
textarea,
input[type=text],
input[type=password] {
   padding: 3px;
   background: $input-bg;
   border: solid 1px $input-border-color !important;
   @include shadow(0px 1px 0px $bevel-color);
   @include rounded(3px);
}

button,
input[type=button],
input[type=submit] {
   @extend .brun-small-button;

   font-weight: bold;
   padding: 3px 6px;
}

.morelink {
   border: none;
   background: none;
}

.morelink a {
   @extend .brun-button;
}


.nub {
   display: none;
}

/*
.expando-button {
   border: solid 1px $small-button-border-color;
   width: auto;
   height: auto;
   cursor: pointer;
   position: relative;
   @include rounded(3px);

   &::before {
      display: inline-block;
      font-size: 1.4em;
      font-style: italic;
      font-weight: 600;
      padding: 1px 5px 2px 5px;
   }

   &.selftext::before {
      content: 'Aa';
   }

   // one day i will wake up and think this is stupid

   &.collapsed,
   &.selftext.collapsed {
      @extend .brun-small-button;

      &:hover {
         @extend .brun-small-button.focused;
      }
   }

   &.expanded,
   &.selftext.expanded {
      @extend .brun-small-button.pressed;
      &:hover {
         @extend .brun-small-button.pressed;
      }
   }

}
*/

.roundfield {
   background: none;
   padding: 0px;
}
