#header {
   background-color: $header-bg;
   background-image: url($banner-image);
   background-position: 0px 17px;
   background-repeat: no-repeat;
   color: $header-fg;
   border-bottom: none;
   height: 140px;
   position: relative;
   @include shadow(0px 2px 4px $shadow-color);

   .tabmenu {
      display: block;
      margin: 0px;
      padding-left: 6px;
      overflow: hidden;
      text-shadow: 0px 1px 0px darken($menu-bar-bg, 15%);
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      border-top: solid 1px lighten($menu-bar-bg, 9%);
      border-bottom: solid 1px darken($menu-bar-bg, 10%);
      @include linear-gradient(top, $menu-bar-bg, darken($menu-bar-bg, 5%));

      > li {
         display: block;
         float: left;
         margin: 0px 2px 0px 0px;
         padding: 3px 0px;

         > a {
            background: none;
            display: block;
            font-weight: normal;
            color: $menu-bar-fg;
            padding: 0.2em 0.6em;
            @include rounded(4px);

            &:hover {
               @include linear-gradient(top, darken($menu-bar-bg, 4%), darken($menu-bar-bg, 8%));
            }
         }

         &.selected {
            > a {
               color: $menu-bar-fg;
               border: none;
               @include linear-gradient(top, darken($menu-bar-bg, 8%), darken($menu-bar-bg, 13%));
               @include shadow(0px 1px 1px lighten($menu-bar-bg, 2%));
            }
         }
      }
   }

}

#header-img.default-header {
   background: url($logo-image) center center no-repeat;
   width: 70px;
   height: 70px;
   vertical-align: middle;
   margin: 8px 10px 0px 10px;
}

#sr-header-area {
   background: $sr-header-bg;
   border-bottom: none;

   a {
      color: $sr-header-fg;
      &:hover {
         color: $sr-header-fg-hover;
         text-decoration: none;
         text-shadow: 0px 0px 2px darken($sr-header-fg-hover, 20%);
      }
   }

   .selected > a {
      color: $sr-header-fg-selected;
   }
}

#sr-more-link {
   background: $sr-header-bg;
}

.dropdown.srdrop .selected {
   color: $sr-header-fg;
}

.pagename {
   &.redditname {
      text-transform: uppercase;
      font: normal 3em $main-font;
      vertical-align: middle;
      letter-spacing: 5px;

      > a {
         color: $header-fg;
         &:hover {
            text-decoration: none;
            text-shadow: 0px 0px 4px $header-shine;
         }
      }
   }
}


#header-bottom-right {
   background: none;
   bottom: 4px;
   right: 10px;
   color: $header-fg;

   .user {
      color: inherit;
   }

   a {
      color: $header-fg;
   }

   .separator {
      text-indent: -9999999px !important;
      display: inline-block;
      vertical-align: middle;
      margin: 0 0.8em;
      width: 5px;
      height: 5px;
      background:  darken($menu-bar-bg, 6%);
      @include shadow(0px 1px 1px lighten($menu-bar-bg, 4%));
      @include rounded(100%);
   }

   /*
   .separator {
      text-indent: -9999999px;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      width: 1px;
      padding: 1px 0px;
      margin: 0 0.8em;
      @include linear-gradient(top, darken($menu-bar-bg, 5%), darken($menu-bar-bg, 7%));

      &::after {
         content: '';
         position: absolute;
         right: -1px;
         width: 1px;
         top: 0px;
         bottom: 0px;
         @include linear-gradient(top, lighten($menu-bar-bg, 5%), darken($menu-bar-bg, 2%));
      }
   }
   */
}
