.brun-icon {
   display: inline-block;
   background-image: url($icon-image);
   /*background-image: url(%%icons%%);*/
   background-repeat: no-repeat;
   width: 16px;
   height: 16px;
}

/*
 *.arrow {
 *   margin-left: 3px;
 *   &.up,
 *   &.down,
 *   &.upmod,
 *   &.downmod
 *   {
 *      @include icon;
 *   }
 *
 *   &.up        { background-position: -64px   0px; }
 *   &.upmod     { background-position: -48px -48px; }
 *   &.down      { background-position: -64px -32px; }
 *   &.downmod   { background-position: -64px -16px; }
 *}
 *
 */

.users-online::before {
   @extend .brun-icon;
   background-position: 0px -16px;
}

.titlebox {
   .leavemoderator,
   form.leavecontributor-button {
      &::before {
         @extend .brun-icon;
      }
   }

   .leavemoderator::before {
      background-position: 0px -32px;
   }
   form.leavecontributor-button::before {
      background-position: -64px -48px;
   }
}

.sidecontentbox {
   .collapse-button {
      @extend .brun-icon;
      padding: 0px;
      margin: 0px;
      text-indent: -9999px;
      background-color: transparent;
      border: none;
      background-position: -48px -16px;
   }
}

.icon-menu {
   .reddit-edit,
   .moderator-mail,
   .reddit-moderators,
   .reddit-contributors,
   .reddit-traffic,
   .reddit-modqueue,
   .reddit-reported,
   .reddit-spam,
   .reddit-ban,
   .reddit-flair,
   .reddit-moderationlog,
   .reddit-unmoderated {
      &::before {
         @extend .brun-icon;
         vertical-align: middle;
         margin-right: 10px;
      }
   }

   .reddit-edit::before          { background-position: -32px   0px; }
   .reddit-moderators::before    { background-position:   0px -32px; }
   .reddit-contributors::before  { background-position: -64px -48px; }
   .reddit-traffic::before       { background-position: -16px   0px; }
   .reddit-modqueue::before      { background-position: -16px -32px; }
   .reddit-reported::before      { background-position: -32px -16px; }
   .reddit-spam::before          { background-position: -16px -16px; }
   .reddit-ban::before           { background-position: -32px -48px; }
   .reddit-flair::before         { background-position: -48px -32px; }
   .reddit-moderationlog::before { background-position: -48px   0px; }
   .reddit-unmoderated::before   { background-position:   0px   0px; }

   .moderator-mail::before {
      margin-top: 0;
      margin-left: 0;
      background-position: -32px -32px;
   }
}
