// NOTE:
// expando-button (button that loads a preview of text/video/image in link listing)
// is defined in _form.scss

.linklisting {
   overflow: hidden;
   .link {
      padding: 1em 0em;
      margin: 0px;

      &:not(:last-child) {
         border-bottom: solid 1px $light-shadow-color;
      }


      &:not(:first-child) {
         border-top: solid 1px $bevel-color;
      }

      &.last-clicked {
         border-left: none;
         border-right: none;

         &:first-child {
            border-top: none;
         }

         &:last-child {
            border-bottom: none;
         }
      }

      .midcol {
         text-align: center;
         width: 3em !important;
      }

      .score {
         &.likes {
            color: $upvote-color;
         }

         &.dislikes {
            color: $downvote-color;
         }
      }

      .usertext {
         .md {
            border: none;
            border-left: solid 3px $text-border-color;
            background: $text-bg;
            color: $text-fg;
            @include rounded(0px);
         }
      }

      .rank {
         display: none;
      }
   }
}

.thumbnail {
   width: 74px;
   padding: 4px;
   position: relative;
   // why the fuck does reddit has to define font-size: 0px; here?
   font-size: 16px;
   line-height: 1em;

   &.default,
   &.nsfw {
      background: none;
      height: 50px;
      border: dashed 1px $thumbnail-border-color-default;
      width: 70px;

      &::before {
         position: absolute;
         color: $thumbnail-fg-default;
         text-shadow: 0px 1px 0px $bevel-color;
         left: 4px;
         top: 4px;
      }
   }

   /*
    *&.default::before {
    *   content: '☒'; // \u2612
    *   font-size: 1.4em;
    *}
    */

   &.nsfw::before {
      font-weight: 600;
      content: 'NSFW';
   }

   &.self {
      display: none;
   }

   img {
      display: block;
      padding: 2px;
      background: $thumbnail-border-color;
      @include shadow(0px 1px 3px $light-shadow-color);
   }
}

.nsfw-stamp {
   border: none;
   margin-left: 4px;

   acronym {
      border: none !important;
      background: $nsfw-tag-bg;
      color: $nsfw-tag-fg;
      padding: 1px 4px;
      @include rounded(2px);
   }
}

/*
.arrow {
   &.up,
   &.down,
   &.upmod,
   &.downmod {
      display: block;
      background: none;
      height: auto;
      font-size: 1.4em;
      color: $arrow-color;
   }

   &.upmod {
      color: $upvote-color;
   }

   &.downmod {
      color: $downvote-color;
   }

   &.up::before,
   &.upmod::before {
      content: '\25b2';
   }

   &.down::before,
   &.downmod::before {
      content: '\25bc';
   }
}
*/

.tagline,
.domain a,
.entry .buttons li a {
   color: $list-entry-fg;
}

.thing {
   &.stickied {
      a.title {
         color: $sticky-title-fg;
         font-weight: normal;
      }
   }
}

.nav-buttons {
   padding: 1em 0em;
}

.nextprev,
.next-suggestions {
   color: $main-fg;

   > a {
      @extend .brun-small-button;
      color: $small-button-fg;

      &:hover {
         border-color: $small-button-border-color;
      }

   }
}

