body {
   background: $main-bg url($main-bg-image) left top repeat;
   color: $main-fg;
   /*font-family: $main-font;*/
}

a, .thing .title {
   color: $link-fg;

   &:visited {
      color: $link-fg-visited;
   }

   &:active,
   &:focus {
      outline: none;
   }
}

.content {
   overflow: hidden;
}
