.md {
   blockquote, pre, table {
      background: $md-box-bg;
   }

   blockquote, pre {
      border: solid 1px $md-line-color;
      border-left: solid 4px $md-line-color;
   }

   blockquote {
      padding: 3px 8px;
   }

   pre {
      padding: 8px;
      max-height: 27em;
      overflow: auto;
   }

   ul {
      list-style-type: square;
   }

   h1 {
      font-size: 1.5em;
      font-weight: bold;
      margin: 0.4em 0em 1em 0em;
   }

   h2 {
      font-size: 1.3em;
      font-weight: normal;
      color: inherit;
      margin: 1em 0em;
      border-bottom: solid 1px $md-line-color;
   }

   th {
      background: $md-table-heading-bg;
      color: $md-table-heading-fg;
   }

   th, td {
      padding: 3px 6px;
      border: solid 1px $md-line-color;
   }
}
