
@mixin shadow($shadows...) {
   -webkit-box-shadow: $shadows;
   -moz-box-shadow: $shadows;
   box-shadow: $shadows;
}

@mixin rounded($radius) {
   -webkit-border-radius: $radius;
   -moz-border-radius: $radius;
   border-radius: $radius;
}

@mixin linear-gradient($definition...) {
   background: -webkit-linear-gradient($definition);
   background: -moz-linear-gradient($definition);
   background: -o-linear-gradient($definition);
   background: linear-gradient($definition);
}

