.icon-menu {
   a {
      background: none;
      display: block;
      padding: 2px 5px;
      vertical-align: middle;
      border-color: transparent;
      border-width: 1px;
      border-style: solid;
      color: $small-button-fg;
      @include rounded(3px);

      &:hover {
         text-decoration: none;
         border-color: $small-button-border-color;
         @include linear-gradient(top, $small-button-bg, darken($small-button-bg, 6%));
      }

      &:active {
         border-top-color: darken($small-button-border-color, 5%);
         @include linear-gradient(top, darken($small-button-bg, 2%), darken($small-button-bg, 8%));
         @include shadow(0px 1px 0px $bevel-color);
      }
   }
}

.stylesheet-customize-container {
   > .sr-form {
      > h2 {
         &::after {
            content: 'Use https://bitbucket.org/unzan/brun/ for source';
            font-weight: normal;
            color: $main-fg;
            display: block;
            margin: 1em 0em;
         }
      }
   }
}
