.res {
   #header-bottom-right.res-navTop {
      top: auto !important;
      bottom: 0px !important;

      #userbarToggle {
         background: none !important;
         border: none !important;
         color: inherit !important;
         padding: 0px !important;

         &.userbarShow {
            bottom: 4px !important;
            top: auto !important;
         }
      }
   }

   .RES-keyNav-activeElement,
   .commentarea .RES-keyNav-activeElement .md,
   .commentarea .RES-keyNav-activeElement.entry .noncollapsed {
      background: none !important;
      position: relative;
   }

   .RES-keyNav-activeElement {
      &::after {
         content: 'current';
         background: $res-active-element-bg;
         color: $res-active-element-fg;
         position: absolute;
         right: 0px;
         top: 0px;
         padding: 2px 5px;
         @include rounded(3px);
      }
   }
}
