.side {
   background: none;
   margin-left: 2em;
   margin-right: 1em;
}

.titlebox form.toggle,
.leavemoderator {
   background: none;
}

.linkinfo,
.infobar {
   background: $info-bg;
   border-color: $info-border-color;
   @include shadow(0px 1px 0px $bevel-color);
}

.titlebox {
   .bottom {
      border-top-color: $bevel-color;
      @include shadow(0px -1px 0px $fieldset-border-color);
   }
}

.sidecontentbox {
   a.helplink {
      margin: 0px;
   }

   .content {
      overflow: hidden;
      background: $brightest-gray;
      /*position: relative;*/
      border: solid 1px $fieldset-border-color;
      padding: 7px;
      @include rounded(3px);
      @include shadow(0px 1px 1px $bevel-color);

      /*
       *&::before {
       *   content: '';
       *   position: absolute;
       *   left: 0;
       *   right: 0;
       *   top: 0;
       *   height: 1px;
       *   background: lighten($light-shadow-color, 3%);
       *}
       */
   }
}

.sidebox {
   .spacer {
      background: none;
   }
}
