// TODO: tidy up the color palette

$blue: #204a87;
$green: #4e9a06;
$purple1: #5c3566;

// two below are the default downvote/upvote colors.
// can't find nicer alternative.
$purple2: #9494ff;
$orange: #ff8b60;

$brown1: #754b07;
$brown2: #664106;
$brown3: #bfa06f;
$brown4: #a68b60;
$brown5: #e9e0d2;
$brown6: #c4bdb1;
$brown7: #ebe7df;

$dark-brown: #170e00;
$dark-yellow: #b58900;
$bright-yellow: #efd9b6;
$brighter-yellow: #fff0c6;

$darkest-gray: #222222;
$darker-gray: #2e3436;
$dark-gray: #555753;
$gray: #888a85;
$slightly-bright-gray: #babdb6;
$slightly-brighter-gray: #d3d7cf;
$bright-gray: #e0e0e0;
$brighter-gray: #eeeeec;
$brightest-gray: #f0f0f0;
$white: #ffffff;

$main-font: 'Open Sans', sans-serif;

// example for subreddit images:
//$icon-image: '%%icons%%';
//$logo-image: '%%logo%%';
//$banner-image: '%%banner%%';

// dummy images (for local test):
$icon-image: '../image/icons.png';
$logo-image: '../image/logo.png';
$banner-image: '../image/banner.jpg';

$main-bg: $brighter-gray;

$main-fg: $darkest-gray;
$main-bg-image: '%%noise%%';
//$main-bg-image: 'http://i.imgur.com/TntBVd1.png';

$link-fg: $blue;
$link-fg-visited: $purple1;

$header-bg: $dark-brown;
$header-fg: $brighter-gray;
$header-shine: $bright-yellow;

$sr-header-fg: $gray;
$sr-header-bg: $header-bg;
$sr-header-fg-hover: $header-fg;
$sr-header-fg-selected: $header-fg;

$menu-bar-bg: $brown1;
$menu-bar-fg: $brighter-gray;

$promoted-link-bg: $brown5;
$promoted-link-border: $brown6;

$nsfw-tag-bg: $dark-yellow;
$nsfw-tag-fg: $brighter-gray;

$arrow-color: $slightly-bright-gray;
$upvote-color: $orange;
$downvote-color: $purple2;

$list-entry-fg: $dark-gray;

$button-fg: $dark-gray;
//$button-bg: lighten($brightest-gray, 4%);
$button-bg: $brown7;
$button-border-color: darken($button-bg, 20%);
//$button-border-color: $slightly-bright-gray;

$input-bg: $white;
$input-fg: $main-fg;
$input-border-color: lighten($gray, 8%);

$shadow-color: darken($main-bg, 40%);
$light-shadow-color: darken($main-bg, 20%);
$bevel-color: lighten($main-bg, 10%);

$sticky-title-fg: darken($green, 10%);

$small-button-fg: $button-fg;
$small-button-bg: $brightest-gray;
$small-button-border-color: $slightly-bright-gray;

$thumbnail-border-color: $white;
$thumbnail-border-color-default: darken($light-shadow-color, 6%);
$thumbnail-fg-default: darken($light-shadow-color, 6%);

$info-bg: $brighter-yellow;
$info-border-color: $slightly-bright-gray;

$text-bg: $white;
$text-fg: $main-fg;
$text-border-color: $gray;

$fieldset-border-color: $gray;

$footer-border-color: $gray;
$footer-bg: none;
$footer-fg: $dark-gray;

$md-box-bg: $brightest-gray;
$md-line-color: $brown3;
$md-table-heading-bg: $brown3;
$md-table-heading-fg: inherit;

$res-active-element-bg: $green;
$res-active-element-fg: $white;
